extends example/layout
block title
  title 中国扬州门户网站x
  meta(name="keywords" content="扬州网站群")
  meta(name="description" content="中国扬州网站群政务门户网站群、各部门门户网站群、政府微门户、政务微门户。")
//- css script link
block link
  +link('www/css/css.css')
  +script('js.js')(main="www/script/yzgov")
//- 头部
block top
//- 正文主体
block content
    //- body begin
    .container
      //left begin
      .left.news-left 
        +cms_documents_ul('3','0','news','14')
      //right begin
      .right.new-right
        ul.item
          +cms_documents_li('2','0','','18')